body{
background-color:#8F9779;

}

@font-face {
 
	font-family:KGShadowOfTheNight;
    src:url("./fonts/KGShadowOfTheNight.ttf");
    font-family:KGShadowOfTheDay;
    src:url("./fonts/KGShadowOfTheDay.ttf");
}  

.containers{
  display: flex;
  align-items: center;
  justify-content: center;

}


#turns{
	color: whitesmoke;
	font-family: 'Calculator', sans-serif;
	font-weight: bold;
	border-top: 20px solid #8F9779;
	border-bottom: 20px solid #8F9779;
	padding: 10px;
	background:  #8F9779;
	border-radius: 10px;
	margin: 0 8px;

 }
 

 .turn {
	font-size: 30px;
	text-align: right;
	color: #422800 ;
	font-weight: bold;
	width: 100%;
	text-align: center;
	height: 10px;
	font-family:KGShadowOfTheDay;
    font-size: 2rem;
	padding-bottom: 1rem;
	padding-top: 5px;
 }
 

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 5px;
  padding: 2px;
  background-color: #99aab5;
  border: 3px solid #99aab5;
 
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  border: 3px solid #99aab5;
  background: #fbeee0;
  cursor: pointer;
  font-family:KGShadowOfTheNight;
  color:#422800 ;
}

.btn, .btn-restart,.btn-start{
	justify-content: center;
	padding: 5px;
	align-self: center;
	display: flex;
    gap: 5px;
  }
  
  
  .btn-restart,.btn-open-popup ,.btn-start {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	font-family:KGShadowOfTheNight;
  }
  
  .btn-restart:hover,.btn-open-popup:hover,.btn-start:hover  {
	background-color: #fff;
  }
  
  .btn-restart:active ,.btn-open-popup :active,  .btn-start5:active{
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
	.btn-restart,.btn-start,.btn-open-popup {
	  min-width: 120px;
	  padding: 0 25px;
	}
  }
  
  .overlay-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 3;
	background:rgba(55,55,55,.6);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

  }
  
  .popup-box {
	background: #fbeee0;
	padding: 15px;
	padding-top: 0px;
	border-radius: 30px;
	border: 2px solid #422800;
	width: 300px;
	text-align: center;
	opacity: 0;
	transform: scale(0.8);
	animation: fadeInUp 0.5s ease-out forwards;
	box-shadow: #422800 4px 4px 0 0;

	padding-bottom: 30px;
  }
  
  .form-container {
	display: flex;
	flex-direction: column;


  }
  h6 {
	color:#99aab5;
	font-size: 15px;
	font-family:KGShadowOfTheNight;
padding-bottom: 0px;
font-weight: bolder;
  }
  .form-label {
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
	text-align: left;
 }
  
  .form-input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	font-family:KGShadowOfTheNight;
  }
  
  .btn-submit,
  .btn-close-popup {
	padding: 12px 24px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-family:KGShadowOfTheNight;
  }
  
  .btn-submit {
	background-color: green;
	color: #fff;
	margin-top: 12px;
	
  }
  
  .btn-close-popup {
	margin-top: 12px;
	background-color: #e74c3c;
	color: #fff;
	
  }
  
  .btn-submit:hover,
  .btn-close-popup:hover {
	background-color: #4caf50;
  }
  
  @keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .overlay-container.show {
	display: flex;
	opacity: 1;
  }
  
  .popup-box p {
	display: inline-block;
	margin-right: 10px;
  }
  
  